@tailwind base;
@tailwind components;
@tailwind utilities;

textarea {
  height: 10rem !important;
  width: 100%;
  max-height: 10rem !important;
  padding: 0.5rem;
  border-radius: 0.7rem;
  border-width: 3px;
  border-color: #ebe9ec;
  background-color: #f4f4f5;
  outline: none;
  color: #7b818b;
}
