@tailwind base;
@tailwind components;
@tailwind utilities;

/* .field {
  border-color: rgb(88 28 135 / 1);
  border-radius: 0.5rem;
  padding: 1rem 0;
} */

.field label {
  color: rgb(156 163 175 / 1);
  display: block;
  margin-bottom: 7px;
}

.field textarea {
  height: 10rem;
  width: 100%;
  max-height: 10rem !important;
  padding: 0.5rem;
  border-radius: 0.7rem;
  border-width: 3px;
  border-color: rgb(235, 233, 236);
  background-color: rgb(244, 244, 245);
  outline: none;
  color: rgb(156 163 175 / 1);
}
